<div class="legend">

    <div class="completed">
        <div class="circle"></div>
        <div class="break_2"></div>
        <h3>Completed Tasks</h3>
    </div>

    <div class="break"></div>

    <div class="overdue">
        <div class="circle"></div>
        <div class="break_2"></div>
        <h3>Overdue Tasks</h3>
    </div>

    <div class="break"></div>

    <div class="pending">
        <div class="circle"></div>
        <div class="break_2"></div>
        <h3>Pending Tasks</h3>
    </div>

    <div class="break"></div>

    <div class="group">
        <div class="circle"></div>
        <div class="break_2"></div>
        <h3>Group Tasks</h3>
    </div>

</div>