<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Task App</title>
    <meta name='descritpion' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
        crossorigin="anonymous">

</head>
<body>

    {% include 'navbar.html' %}
    
    <div class="container">
        
        {% block content %}


        {% endblock content %}
    </div>
    
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>