{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar"> 
    {% if request.session.last_visited_url %}
    <a href="{{ request.session.last_visited_url }}">&#8592; Back</a>
    {% else %}
    <a href="{% url 'tasks' %}">&#8592; Back</a>
    {% endif %}
</div>

<div class="card-body-delete">
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete this task? "{{task}}"</p>
        <input class="button" type="submit" value="Delete"/>
    </form>
</div>


{% endblock content %}